/* Global settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Container settings */
body > div.container {
  width: 80%;
  margin: auto;
}

div.container > * {
  margin: 35px 0;
}

div.container main > * {
  margin: 35px 0;
}

/* Header settings */
div.container > header {
  margin-top: 0;
}

div.container header img {
  width: 185px;
  border-right: 1.5px solid #E8E8E8;
  padding-right: 12px;
  margin-bottom: 40px;
}

header nav li {
  display: inline-block;
  margin-right: 18px;
}

header nav li a {
  color: #858585;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}

/* Overlay and img global settings */
div.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.overlay, img:not(:first-of-type) {
  border-radius: 10px;
}

/* Hero settings */
div.container main > div.hero {
  position: relative;
}

div.hero img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-bottom: -4px;
}

div.hero div.hero-text {
  color: white;
  width: 50%;
  position: absolute;
  transform: translate(10%, -150%);
  font-size: 18px;
  z-index: 3;
}

div.hero div.hero-text h2 {
  font-weight: 400;
}

/* Clearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* Articles section settings */
section .lesser-title {
  margin-bottom: 20px;
}

section .lesser-title h3 {
  font-size: 30px;
}

section .lesser-title p, section article p {
  color: #929292;
}

section > article {
  float: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

section article div.img-sized {
  position: relative;
  margin-bottom: 15px;
}

section article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: -4px;
}

section article h4 {
  margin-bottom: 5px;
  font-weight: 400;
}

section > article.art-left, section > article.art-right {
  width: 20%;
}

section > article.art-mid {
  width: 56%;
  margin-left: 2%;
  margin-right: 2%;
}

/* Footer settings */
div.container footer {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}

div.container footer span::after {
  content: " \2665";
  color: red;
  font-size: 22px;
}
