* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Container settings */
body > div.container {
  width: 80%;
  margin: auto;
}

div.container > * {
  margin: 4vh 0;
}

/* Header settings */
div.container > header {
  margin-top: 0;
}

div.container header img {
  width: 13.5vw;
  border-right: 1.5px solid #E8E8E8;
  padding-right: 1vw;
  margin-bottom: 5vh;
}

header nav li {
  display: inline-block;
  margin-right: 1.25vw;
}

header nav li a {
  color: #858585;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2vw;
}

/* Hero settings */
div.container > div.hero {
  background-color: #E3D67A;
  position: relative;
}

div.hero div.overlay {
  position: absolute;
  width: 80%;
  height: 34.5vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

div.hero img {
  height: 34.5vw;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

div.hero div.hero-text {
  color: white;
  width: 40vw;
  position: absolute;
  transform: translate(10%, -150%);
  font-size: 1.3vw;
  z-index: 3;
}

div.hero div.hero-text h2 {
  font-weight: 400;
}

/* Articles section settings */
div.container > section {
  background-color: #0186FE;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

section > div.lesser-title {
  height: calc(60vh * 0.2);
  background-color: #ABCFE7;
}

section > article {
  height: calc(60vh * 0.76);
  background-color: #ABCFE7;
  float: left;
  margin-top: 2%;
  margin-bottom: 2%;
  /* color: #929292; */
}

section > article.art-left, section > article.art-right {
  width: 20%;
}

section > article.art-mid {
  width: 56%;
  margin-left: 2%;
  margin-right: 2%;
}

div.container > footer {
  height: 8vh;
  background-color: #8702FA;
  margin-top: -2vh;
}
